/* RESET */

html {
  box-sizing: border-box;

}

*,
*:before,
*:after {
  box-sizing: inherit;

}

/* STYLES */

body {
  background-color: rgb(39, 39, 39);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;

}

.pane {
  background-color: white;
  max-width: 700px;
  margin: auto auto;
  padding: 1em 2em;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(25, 25, 25),
    -5px 5px 5px rgb(25, 25, 25);

}

div.flex {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;

}

div.input-group {
  margin: 1em;
  padding: 0;
  margin: 0 0 2em 0;

}

div.input-group.short {
  display: inline-block;
  width: 43%;

}

label,
span {
  font-size: 0.8em;
}

sup {
  font-size: 1em;
}

input,
select,
button {
  width: 100%;
  height: 3em;
  font-size: .8em;
  margin-top: 0.2em;
  border: solid 1px lightgrey;
  border-radius: 7px;
}

#cv {
  width: 50%;
  border: none;
}


textarea {
  width: 100%;
  border: solid 1px lightgrey;
  border-radius: 7px;
}

input.invalid,
select.invalid,
textarea.invalid {
  border: solid 2px red;
  color: red;
}

button {
  background-color: rgb(1, 163, 1);
  color: white;
}

#cv:hover,
button:hover {
  cursor: pointer;
}

button:active {
  background-color: darkgreen;
}

#status {
  text-align: end;
}

@media only screen and (max-width: 600px) {

  div.input-group.short {
    width: 100%;
  }


}

@media only screen and (max-width: 415px) {

  #cv {
    display: block;
    width: 100%;
  }


}